  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pets">Pets</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-4">
        <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h3 class="card-title"><strong>Welcome to <br>Pet Adoption!</strong></h3>
            <p class="card-text text-left">
              If you're not sure what kind of pet you're looking for, we can help!
              </br></br>
              Sign up or sign in to search for pets near you. </p>
              <hr>
              <button type="button" id="signin_button" class="btn btn-info" data-toggle="modal" data-target="#signin_modal">
                Sign in
              </button>          
              <button type="button" id="signup_button" class="btn btn-info" data-toggle="modal" data-target="#signup_modal">
                Sign up
              </button>          
            </div>
        </div> 
      </div>
    </div>  
  </div>

  <!-- Signup Modal -->
  <div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signup_modal_title">New User Signup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"></span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="signup_username" aria-describedby="addon-wrapping">
        </div>
        <div class="modal-body">
          <form id="signup" name="signup" method="post" action="signup">
            <div class="form-group">
              <input type="email" class="form-control" id="signup_email" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="signup_password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Signin Modal -->
  <div class="modal fade" id="signin_modal" tabindex="-1" role="dialog" aria-labelledby="signin_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signin_modal_title">User Sign In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="signin" name="signin">
            <div class="form-group">
              <input type="email" class="form-control" id="signin_email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="signin_password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">login In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 
 <script src="/js/signup.js"></script>
  <script src="/js/signin.js"></script>