body {
    margin-bottom: 100px;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  /* Navbar */
  .navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    background-color: #051f22;
    color: white;
    margin-bottom: 55px;
  }
  .fa-bars, .nav-link, .navbar-brand, .logout-link {
    color: white;
  }
  .fixed-bottom {
    margin-top: 50px;
    height: 80px;
    margin-bottom: 0;
    text-align: center;
  }
  .footer {
    color: white;
  }
  .footer:hover {
    color: white;
  }