body {
<<<<<<< HEAD:public/css/home.css
    background-image: url('../../images/pet1.jpg');
    margin-bottom: 2000%;
=======
    background-image: url('/images/pet1.jpg');
    margin-bottom: 200px;
>>>>>>> 9fbc15320c54e1bdca87ffb66b96ffd19a61415e:public/stylesheets/home.css
    height: 100%;
    background-repeat: no-repeat;
    padding-right: 35%;
  }
  .card {
    margin-top: 40px;
    margin-left: 5px;
    background-color: rgba(109, 26, 26, 0.514);
  }
  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  #signin_button {
    margin-right: 8%;
  }
  #signup_button {
    margin-left: 8%;
  }